

svg {
	    position: relative;
	text-align: center;
// width:90%;
 //    left: 10%;
// height:90%;
}

path {
  stroke: white;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.container {
	height: 45%;
	text-align: center;
	    background: blue;
}
.range-slider {
  display: inline-block;
  width: 40px;
  position: relative;
  text-align: center;
  height: 80%;
  max-height: 100%;
}